.head {
   text-align: right;
    margin-right: 20px;
    
    
}

.head a {
 text-decoration:none;   
 color: #000;  
 font-family: arial,sans-serif;    
 font-size: 13px;    
}

#sq {
        background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
        background-size: 528px 68px;
        background-position: -132px -38px;
        opacity: .55;
    
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        display: inline-block;
        outline: none;
        vertical-align: middle;
}

#enter {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    background: #4285f4;
    color: #fff;
    
}

.centr{
text-align: center;
 padding-top:109px;                  
    
}

.logo-subtext {
    margin-top: -25px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    
    left: 105px;
    position: relative;
    
}

.insert{
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-top-color: none;
    height: 38px;
    vertical-align: top;
    
    position:absolute;
    top:37%;
    left:50%;
    width: 484px;
    margin-left:-200px;
    margin-top:0;    
    
    
}

.gsfi {
    border: none;
    padding: 0px;
    margin-top: -40px;
    margin-left: 5px;
    height: auto;
    width: 80%;
    position: absolute;
    z-index: 6;
    left: 0px;
    outline: none;
    font: 16px arial,sans-serif;
    line-height: 26px !important;
    height: 26px !important;
        
    
}


.board {
   
   margin-left: auto; 
    
    height: 36px;
    width: 70px;
   
}

.key{
    
    margin-top: 10px;
     height: 17px;
     width: 28px;
    cursor: pointer;  
}

.mic {
 margin-left: 33px;
 margin-top: -21px;
 height: 17px;
  width: 28px;
  cursor: pointer;  
}

.underboard{
    width: 485px;
    height: 50px;
    position:absolute;
    left:50%;
    margin-left:-200px;
    top:43%;
  
}

#f_g{
  margin-left: 120px;  
}

#lack{
 margin-left: 20px;    
}

._XIi{
position:absolute;
top:50%;  
left:50%;
margin-left:-130px;
    
}

._XIi a{
text-decoration:none;
 color: #000;  
 font-family: arial,sans-serif;    
 font-size: 13px;       
}

.letter{
  color:blue ; 
}









